<!DOCTYPE html>
<html>
<head>
	{{>links}}
</head>
<body>

{{>navbar}}

<div class="container-fluid main_header">
	<div class="row">
		<div class="col-md-10 col-12 mx-auto">
<div class="row">
    <div class="col-md-6 col-12 main_header_right align-items-center">
    
    <figure>
    <img src="images/me.png" alt="Mausam" class="img-fluid" title="Mausam khatiwada">  
    </figure>
</div>
	<div class="col-md-6 col-12 main_header_left">
		<h1><span class="hello">Hello!</span><br> I am <span class="tech">Mausam</span><br><span class="text_clr">A Full Stack Developer</span><br>.</h1>
		<a href="http://mausamkhatiwada.com.np/"><button>About me</button></a>
		

	</div>


		</div>
	</div>
</div>

</body>
</html>