<!DOCTYPE html>
<html>
<head>
	{{>links}}
</head>
<style type="text/css">
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
}

</style>
<body>

{{>navbar}}

<div class="container-fluid main_header">
	<div class="row">
		<div class="col-md-10 col-12 mx-auto">
<div class="row">
	<div class="col-md-6 col-12 main_header_left">
		<h1>EternalSkies:Illuminating Weather Insights</h1>
    <p>Embark on a journey through nature's tapestry, my weather website unfolds. Where clouds dance and winds whisper secrets untold. Discover forecasts, a symphony of hues, painting skies anew. With each forecast's tale, let my website be your guide, in weather's ever-changing tide.</p>
		<a href="/weather"><button>Get weather info</button></a>
		

	</div>
	<div class="col-md-6 col-12 main_header_right">
		
		
      <img class="w-100" src="images/img1.jpg" alt="First">
   	</div>
</div>
</div>
		</div>
	</div>
</div>

{{>footer}}
</body>
</html>